body {
  background-image: url("../images/bg.jpg") !important;
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

.container {
  background-color: transparent !important;
}

#title {
  background-color: #E5EBEA;
  color: #17BEBB;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-color: #DBD9DB;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 5px;
}

h3{
  color: #17BEBB;
}
#rules {
  background-color: #E5EBEA;
  color: #CD5334;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 0px;
  border-color: #DBD9DB;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 25px;
}

#scoreBoard {
  background-color: #E5EBEA;
  color: #17BEBB;
  text-align: center;
  padding: 5px;
  margin: auto;
  border-color: #DBD9DB;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 50px;
}

#crystalButtons {
  position: relative;
  top: 75px;
  margin: auto;
  margin-bottom: 20px;
}

#blueButton{
  display:block;
  margin: auto;

  width:65%;
  height:auto;
  margin-left: auto;
  border-color: #17BEBB;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

#greenButton{
  display:block;
  margin: auto;

  width:65%;
  height:auto;
  border-color: rgb(37, 190, 23);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

#purpleButton{
  display:block;
  margin: auto;

  width:65%;
  height:auto;
  border-color: rgb(176, 58, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

#redButton{
  display:block;
  margin: auto;

  width:65%;
  height:auto;
  border-color: rgb(223, 9, 9);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}