html {
  background-color: #2E282A;
}

body {
  background-color: #2E282A !important;
}

.container {
  background-color: #2E282A !important;
}

#title {
  background-color: rgb(192, 131, 78);
  color: #2E282A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-color: #EDB88B;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 5px;
}

h3{
  color: #17BEBB;
}
#rules {
  background-color: #2E282A;
  color: #CD5334;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 0px;
  border-color: #EDB88B;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 25px;
}

#scoreBoard {
  background-color: rgb(192, 131, 78);
  color: #2E282A;
  text-align: center;
  padding: 5px;
  margin: auto;
  border-color: #EDB88B;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: 50px;
}

#crystalButtons {
  position: relative;
  top: 75px;
  margin: auto;
  margin-bottom: 20px;
}

#blueButton{
  width:99%;
  height:99%;
  margin: auto;
  border-color: #17BEBB;
  border-width: 2px;
  border-style: solid;
  border-radius: 33px;
}

#greenButton{
  width:99%;
  height:99%;
  margin-left: auto;
  margin-right: auto;
  border-color: rgb(37, 190, 23);
  border-width: 2px;
  border-style: solid;
  border-radius: 33px;
}

#purpleButton{
  width:99%;
  height:99%;
  margin: auto;
  border-color: rgb(176, 58, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 33px;
}

#redButton{
  width:99%;
  height:99%;
  margin: auto;
  border-color: rgb(223, 9, 9);
  border-width: 2px;
  border-style: solid;
  border-radius: 33px;
}