html {
  background-color: #17BEBB;
}

body {
  background-color: #17BEBB !important;
}

.container {
  background-color: #17BEBB !important;
}

#title {
  background-color: #2e282a;
  color: #FAD8D6;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-color: #FAD8D6;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  top: 5px;
}

#rules {
  background-color: #2e282a;
  color: #FAD8D6;
  width: 685px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 0px;
  border-color: #FAD8D6;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

